.sign_in_page {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  background-image: url(/assets/main_background.png);
}

.sign_in_box {
  height: 500px;
  width: 600px;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid red;
  background-color: rgba(117, 117, 117, 0.5);
}

.welcome_text {
  text-align: center;
  color: white;
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}

.welcome_desc {
  text-align: center;
  color: white;
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}

.button_to {
  text-align: center;
  margin-top: 10%;
}

.button_to > input[type=hidden] {
  display: none;
}


.google_button {
  width: 400px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/google-sign-in.png);
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
}

.google_button:hover {
  cursor: pointer;
}
